.container {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    img {
        width: 200px;
        border-radius: 50%;
    }
    button {
        margin: 20px;
    }
}